<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="dark:bg-gray-800">

    <div class="mt-6 ">
        <div
            class="border-dotted border-2 border-sky-500 container w-3/4  m-auto dark:bg-gray-800 p-4 rounded-3xl shadow-xl ">
            <div class="flex justify-start">
                <h1 class="text-xl font-bold text-gray-200 px-4">Usunąć Wszystko?</h1>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="p-2 text-xl font-bold text-gray-200 p-4">                    
                 </div>
                 <div>
                     <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                         <input type="submit" value="Usuń Zadanie"
                                 class="text-white bg-gray-300 hover:bg-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 mt-4 ">
                     </div>
            </form>
         
            </div>
        </div>
    </div>

</body>

</html>