<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for s in settings  %}
        <title>{{s.title}}</title>
    {% endfor %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="dark:bg-gray-800">

    <div class="mt-6 ">
        <div
            class="border-dotted border-2 border-sky-500 container w-3/4  m-auto dark:bg-gray-800 p-4 rounded-3xl shadow-xl ">
            <div class="flex justify-start">
                <h1 class="text-3xl font-bold text-gray-200 p-4">Lista Zadań</h1>
            </div>
            <div class="p-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    
                        {{form.title}}

                        <div class="flex justify-between">
                            <p></p>
                            <input type="submit" value="Dodaj Zadanie"
                            
                            class="text-white bg-gray-300 hover:bg-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 mt-4 ">
                        </div>
                    </form>
            </div>
            <div>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Zadanie
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Delete</span>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for t in tasks  %}
                            <tr
                                class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                                
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                    
                                    {% if t.completed == False %}
                                    {{t.title}}
                                    {% else %}
                                    <s class="text-black">{{t.title}}</s>
                                    {% endif %}
                                        
                                </th>

                                <td class="px-6 py-4 text-right">
                                    <a href="{% url 'task-update' t.id %}"
                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edytuj</a>
                                </td>

                                <td class="px-4 py-4 text-right">
                                    <a href="{% url 'task-delete' t.id %}"
                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Usuń</a>
                                </td>

                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    <div class="flex justify-end">
                        <a href="{% url 'all-remove' %}"
                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline m-4">Usuń Wszystko</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>